.lista {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    gap: 15px;
    cursor: grab;
    height: 500px;
}

@media screen and (max-width: 1070px) {
    .lista {
        gap: 5px;
        height: 500px
    }
}