.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
   
    
}

.conteudoModal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 95vh;
    background-color: black;
    border-radius: 15px;
}

.closeModal {
    position: absolute;
    top: 40px;
    right: 50px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    font-size: 18px;
    color: white;

    border: none;
    cursor: pointer;
}

.botaoMenu {
    border: none;
    border-bottom: 1px solid rgb(73, 73, 73);
    margin: 10px;
    background-color: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.botaoMenu:hover {
    transform: translate(3px, 3px);
    transition: 0.3s;
    border-bottom: 1px solid #223A7A;
}