.inicio {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    width: 100vw;
    height: 500px;
}

.botoes {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: 50%;
    margin-left: 40px;

}

.galeriaDeVideos {
    width: 100vw;
    height: 100vh;
}

.galeriaDeVideos h1 {
    margin-left: 80px;
    margin-bottom: 15px;
    text-align: left !important;
}

@media screen and (max-width: 1070px) {
    .inicio {
        height: 300px;
    }
    
    .galeriaDeVideos h1 {
        margin: auto;
        margin-bottom: 15px;
        margin-left: 25px !important;
    }
}