.containerFav {
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
}

.ListaFav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    overflow: hidden;
    margin: 30px;
}

@media screen and (max-width: 1070px) {
    .ListaFav {
        justify-content: center;
    }
}